  .logo {
            font-size: 2.5rem;
            font-weight: bold;
            color: #3273dc;
        }
        .message {
            margin-bottom: 2rem;
        }
        .table {
            margin-bottom: 2rem;
        }
        .total {
            font-weight: bold;
        }
        .signature {
            font-style: italic;
        }